
html, body {
  height: 100%;
}


.pointer {
  cursor: pointer !important;
}


.text-muted-5 {
  opacity: 0.5;
}

.text-muted-4 {
  opacity: 0.5;
}

.text-muted-3 {
  opacity: 0.5;
}

.text-muted-2 {
  opacity: 0.5;
}

.text-muted-1 {
  opacity: 0.5;
}
