.pointer {
  cursor: pointer !important;
}

// .right-side-detail {
//   border-left: 1px rgb(128, 128, 128) solid;
// }


.mat-dialog-container {
padding: 0 !important;
}


.text-muted-5 {
  opacity: 0.5;
}
